{% set breadcrumbs = get_breadcrumbs() %}

{% if breadcrumbs|length > 0 %}
    <div class="breadcrumbs">
        <ul class="breadcrumbs__list" itemscope itemtype="http://schema.org/BreadcrumbList">
            <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="/" class="breadcrumbs__link" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                    <span class="breadcrumbs__name" itemprop="name">Главная</span>
                </a>
                <meta itemprop="position" content="1"/>
            </li>

            {% for key, item in breadcrumbs %}
                <li class="breadcrumbs__item breadcrumbs__item_delimiter">
                    &rarr;
                </li>

                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    {% if item.getUrl() %}
                        <a href="{{ item.getUrl() }}" class="breadcrumbs__link" itemscope itemtype="http://schema.org/Thing" itemprop="item">
                            <span class="breadcrumbs__name" itemprop="name">{{ item.getName() }}</span>
                        </a>
                    {% else %}
                        <span class="breadcrumbs__name" itemprop="name">{{ item.getName() }}</span>
                    {% endif %}
                    <meta itemprop="position" content="{{ key + 2 }}"/>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}