{% set flashes = app.flashes %}


{% if flashes %}
<div class="flash-messages-block">
    <ul class="flash-list">
        {% for label, messages in flashes %}
            {% for message in messages %}
                <li class="{{ label }}">

                    <div class="row">
                        <div class="column large-12">
                            <div class="message">
                                {{ message }}
                            </div>
                        </div>
                    </div>

                </li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}