{% set class = class|default("") %}

<footer class="footer {{ class }}">
    <div class="container container_spacer" style="display: flex; justify-content: space-between">
        <div>
            Компания
        </div>
        <div>
            Все права защищены &copy; {{ 'now'|date("Y") }}
        </div>
    </div>
</footer>