{% set class = class|default("") %}

<header class="header {{ class }}">
    <div class="header__container container container_spacer" style="display: flex; justify-content: space-between">
        <div style="flex: 0 0 20%">
            <a href="/" class="header__logo">
                {% include '_base/picture.html.twig' with {
                    'class': 'header__logo-picture',
                    'path': 'images/base/logo/',
                    'name': 'logo',
                    'alt': 'Логотип'
                } %}
            </a>
        </div>
        <nav class="header__nav" style="flex: 1 1 auto; align-self: center">
            <ul class="header__list justify" style="display: flex; justify-content: space-around">
                <li>
                    <a href="/" data-modal>Index</a>
                </li>
                <li>
                    <a href="#">News</a>
                </li>
                <li>
                    <a href="#">Articles</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contacts</a>
                </li>
            </ul>
        </nav>
        <div style="flex: 0 0 auto">
            <a href="tel:{{ settings().phone|tel }}">
                 {{ settings().phone }}
            </a>
        </div>
    </div>
</header>