{% extends "base.html.twig" %}

{% block content %}
    <a href="_active" data-toggle-link data-selector="body">
        toggle link
    </a>

    {% set form = get_recall_form() %}
    {{ form(form, {'action': path('request:recall'), 'attr': {'data-ajax-form': 'true'}}) }}
{% endblock %}