<span class="title-section__item-type">
    {% if index %}
        {{ currentAdminController.verboseListName }}
    {% else %}
        {{ currentAdminController.verboseItemName }}
    {% endif %}
</span>

{% if edit %}
    <span class="title-section__item-id">
        (#{{ entity.primaryKeyValue }})
    </span>
{% endif %}

{% if (edit or new) and childPage %}
    <span class="title-section__item-activity">
        {%- apply spaceless -%}
            :
            {% if new %}
                {{ 'action.creating'|trans({}, 'admin') }}
            {% else %}
                {{ 'action.editing'|trans({}, 'admin') }}
            {% endif %}
        {%- endapply -%}
    </span>
{% endif %}