<span class="title-section__item-type">
    {% if index and parentPage %}
        {{ parentAdmin.verboseListName }}
    {% else %}
        {{ parentAdmin.verboseItemName }}
    {% endif %}
</span>

{% if edit or childPage %}
    <span class="title-section__item-id">
        (#{{ parentId }})
    </span>
{% endif %}

{% if (edit or new) and parentPage %}
    <span class="title-section__item-activity">
        {%- apply spaceless -%}
            :
            {% if new %}
                {{ 'action.creating'|trans({}, 'admin') }}
            {% else %}
                {{ 'action.editing'|trans({}, 'admin') }}
            {% endif %}
        {%- endapply -%}
    </span>
{% endif %}