{% set edit = edit|default(false) %}
{% set index = index|default(false) %}


{% if relatedMenu|default(false) %}
    {% set parentPage = relatedMenu.getParentAdminClass() == relatedActive %}
    {% set childPage = relatedMenu.getParentAdminClass() != relatedActive %}
    {% set parentNew = parentPage and not index and not edit %}

    {% if not (index and parentPage) %}
        {% set parentId = app.request.query.get('parentId') ?: entity.primaryKeyValue %}
        {% set activeAdmin = relatedActive %}

        {% if relatedMenu  %}
            {% set parentUrl = ea_url({
                'crudControllerFqcn': relatedMenu.getParentAdminClass(),
                'crudAction': 'edit',
                'entityId': parentId,
                'parentId': parentId
            }) %}

            <div class="related-menu {% if index %}_index{% endif %}">
                {% set isActive = relatedMenu.getParentAdminClass() is same as activeAdmin %}
                <a href="{% if parentNew %}#{% else %}{{ parentUrl }}{% endif %}" class="related-menu__link {% if isActive %}_active{% endif %}">
                    {% if parentNew %}
                        Создание
                    {% else %}
                        Редактирование
                    {% endif %}
                </a>

                {% for relatedAdmin in relatedMenu.getRelatedAdmins() %}
                    {% set isActive = relatedAdmin.getAdminClass() is same as activeAdmin %}
                    {% set adminUrl = ea_url({
                        'crudControllerFqcn': relatedAdmin.getAdminClass(),
                        'crudAction': 'index',
                        'entityId': null,
                        'parentId': parentId
                    }) %}

                    <a href="{% if parentId %}{{ adminUrl }}{% else %}#{% endif %}" {% if not parentId %}onclick='alert("Для редактирования данного раздела сохраните объект");' {% endif %} class="related-menu__link {% if isActive %}_active{% endif %}">
                        {{ relatedAdmin.getTitle() }}
                    </a>
                {% endfor %}
            </div>

        {% endif %}
    {% endif %}
{% endif %}