{% set edit = edit|default(false) %}
{% set index = index|default(false) %}
{% set new = new|default(false) %}


<div class="title-section">
    {% if relatedMenu %}
        {% set parentAdmin = relatedMenu.getParentAdmin() %}
        {% set parentPage = relatedMenu.getParentAdminClass() == relatedActive %}
        {% set childPage = relatedMenu.getParentAdminClass() != relatedActive %}

        {% set parentId = app.request.query.get('parentId') %}
        {% if entity.primaryKeyValue|default(false) %}
            {% set parentId = entity.primaryKeyValue %}
        {% endif %}

        {% set relatedMenu = relatedMenu|default(false) %}

        {% if edit or childPage %}
            {% set parentUrl = ea_url({
                'crudControllerFqcn': relatedMenu.getParentAdminClass(),
                'crudAction': 'edit',
                'entityId': parentId,
                'parentId': parentId
            }) %}
            <a class="title-section__item {% if childPage %}_shadow{% endif %}" href="{% if edit or childPage %}{{ parentUrl }}{% endif %}">
                {% include '@EasyAdmin/_parts/_parent-link-internal.html.twig' %}
            </a>
        {% else %}
            <span class="title-section__item">
                {% include '@EasyAdmin/_parts/_parent-link-internal.html.twig' %}
            </span>
        {% endif %}

        {% if childPage %}
            <div class="title-section__delimiter">
                <i class="fa fa-angle-right"></i>
            </div>

            <span class="title-section__item">
                {% include '@EasyAdmin/_parts/_child-link-internal.html.twig' %}
            </span>
        {% endif %}
    {% else %}
        <span class="title-section__item">
            <span class="title-section__item-type">
                {% if index %}
                    {{ currentAdminController.verboseListName }}
                {% else %}
                    {{ currentAdminController.verboseItemName }}
                {% endif %}
            </span>

            {% if edit %}
                <span class="title-section__item-id">
                    (#{{ entity.primaryKeyValue }})
                </span>
            {% endif %}

            {% if edit or new %}
                <span class="title-section__item-activity">
                    {%- apply spaceless -%}
                        {% if new %}
                            {{ 'action.creating'|trans({}, 'admin') }}
                        {% else %}
                            {{ 'action.editing'|trans({}, 'admin') }}
                        {% endif %}
                    {%- endapply -%}
                </span>
            {% endif %}
        </span>
    {% endif %}
</div>