{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Управление сайтом{% endblock %}

{% block page_content %}

    <a href="{{ ea_url({
        'crudControllerFqcn': '\\App\\Controller\\Admin\\ArticleThesisCrudController'
    }) }}">
        ОПА
    </a>

    Выберите необходимый размер в меню слева
{% endblock %}