{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{# this template is used to display Doctrine entity primary keys #}

<div data-position-handle data-position="{{ field.formattedValue }}" data-entity-fqcn="{{ entity.fqcn }}" data-position-field="{{ field.property }}" class="sortable-handle">
    <i class="fa fa-fw fa-sort"></i>
</div>
