<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    {% block seo %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    {# Another head information #}
    {% block head %}{% endblock %}
</head>
<body class="webp">
    <div class="layout">
        <div class="layout__wrapper">
            {% include "_parts/header.html.twig" with {'class': 'layout__header'} %}
            <div class="container container_spacer">
                {% include '_parts/flash.html.twig' %}
            </div>

            {% block content_header %}
                <div class="content-header">
                    <div class="container container_spacer">
                        {% block breadcrumbs %}
                            {% include '_parts/breadcrumbs.html.twig' %}
                        {% endblock %}

                        {% block heading %}

                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            <div id="main" class="layout__main">
                {% block main %}
                <div class="layout__content">
                    {% block before_content %}

                    {% endblock %}

                    <div class="container container_spacer">
                        {% block content %}

                        {% endblock %}
                    </div>

                    {% block after_content %}

                    {% endblock %}
                </div>
                {% endblock %}
            </div>
        </div>

        {% include "_parts/footer.html.twig" with {'class': 'layout__footer'} %}
    </div>

    {% block javascripts %}
        <script src="{{ asset("vendors.js") }}" async></script>
        <script src="{{ asset("main.js") }}" async></script>
    {% endblock %}
</body>
</html>