{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@!EasyAdmin/crud/edit.html.twig' %}

{% block content_title %}
    {% if isAdminCrud|default(false) %}
        {% include '@EasyAdmin/_parts/title.html.twig' with {'edit': true} %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block main %}
    {% include '@EasyAdmin/_parts/form-menu.html.twig' with {'edit': true} %}
    {{ parent() }}
{% endblock %}
