{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block content_title %}
    {% if isAdminCrud|default(false) and relatedMenu|default(false) %}
        {% include '@EasyAdmin/_parts/title.html.twig' with {'index': true} %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content_header %}
    {{ parent() }}
    {% include '@EasyAdmin/_parts/form-menu.html.twig' with {'index': true} %}
{% endblock %}
