{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends '@!EasyAdmin/crud/new.html.twig' %}

{% block content_title %}
    {% if isAdminCrud|default(false) and relatedMenu|default(false) %}
        {% include '@EasyAdmin/_parts/title.html.twig' with {'new': true} %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}