<div class="pagination" data-id="{{ pageParameterName }}">
    {% if pageCount > 1 %}
        {% set activeSize = activeSize|default(2) %}
        {% set activeFrame = activeFrame|default(activeSize*2 + 1) %}

        {% set firstFramePage = current - activeSize %}
        {% if firstFramePage > last - activeSize * 2 %}
            {% set firstFramePage = last - activeSize*2 %}
        {% endif %}
        {% if firstFramePage < first %}
            {% set firstFramePage = first %}
        {% endif %}

        {% set lastFramePage = firstFramePage + activeSize*2 %}
        {% if lastFramePage > last %}
            {% set lastFramePage = last %}
        {% endif %}

        <ul class="pagination__list">
            {% if previous is defined %}
                <li class="pagination__item pagination__item_previous">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="pagination__link pagination__link_previous">
                        {% block prev %}
                            &larr;
                        {% endblock %}
                    </a>
                </li>
            {% endif %}

            <li class="pagination__item pagination__item_first {% if current == first %}pagination__item_active{% endif %}">
                <a href="{{ path(route, query|merge({(pageParameterName): first})) }}" class="pagination__link pagination__link_first">
                    {{ first }}
                </a>
            </li>

            {% if firstFramePage > first + 1 %}
                <li class="pagination__item pagination__item_dots">
                    {% block dots_first %}
                    ...
                    {% endblock %}
                </li>
            {% endif %}

            {% for item in firstFramePage..lastFramePage %}
                {% if item != first and item != last %}
                    <li class="pagination__item pagination__item_page {% if current == item %}pagination__item_active{% endif %}">
                        <a href="{{ path(route, query|merge({(pageParameterName): item})) }}" class="pagination__link pagination__link_page">
                            {% block item %}
                                {{ item }}
                            {% endblock %}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}


            {% if lastFramePage < last - 1 %}
                <li class="pagination__item pagination__item_dots">
                    {% block dots_last %}
                        ...
                    {% endblock %}
                </li>
            {% endif %}

            {% if last > first %}
                <li class="pagination__item pagination__item_last {% if current == last %}pagination__item_active{% endif %}">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}" class="pagination__link pagination__link_last">
                        {{ last }}
                    </a>
                </li>
            {% endif %}

            {% if next is defined %}
                <li class="pagination__item pagination__item_next">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}" class="pagination__link pagination__link_next">
                        {% block next %}
                            &rarr;
                        {% endblock %}
                    </a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</div>