{% set class = class|default("") %}
{% set path = path|default("") %}
{% set name = name|default("") %}
{% set alt = alt|default("") %}

<picture class="{{ class }}">
    <source type="image/webp"
            srcset="{{ asset(path ~ name ~ '.webp') }} 1x, {{ asset(path ~ name ~ '_2x.webp') }} 2x">
    <img alt="{{ alt }}"
         src="{{ asset(path ~ name ~ '.png') }}" srcset="{{ asset(path ~ name ~ '_2x.png') }} 2x">
</picture>